<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coveros.coverosmobileapp">

    <!-- Get Permission for main activity to use the internet and load web pages -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Check if the device has a network connection -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Collecting Metadata -->
    <meta-data
        android:name="android.webkit.WebView.MetricsOptOut"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".website.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".blogpost.BlogListActivity"
            android:label="@string/app_name"
            android:exported="true" >
        </activity>

        <activity
            android:name=".blogpost.BlogPostReadActivity"
            android:label="@string/app_name"
            android:exported="true" >
        </activity>
        <activity
            android:name=".blogpost.BlogPostsListActivity"
            android:label="@string/app_name"
            android:exported="true">
        </activity>
        <activity
            android:name=".blogpost.CommentsListActivity"
            android:label="@string/app_name"
            android:exported="true">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>